* {
  box-sizing: border-box;
}

body {
  background-color: #eaf6f6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #545454;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  border-color: #ccc;
  width: 5%;
}
